# Week 4 Assignment

In [572]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

In [573]:
nhl_df=pd.read_csv("nhl.csv")
cities=pd.read_html("wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [574]:
nhl_df.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL

In [575]:
nhl_df.shape

(171, 15)

In [576]:
nhl_df.year.value_counts()

2017    68
2018    35
2015    34
2014    34
Name: year, dtype: int64

**Keeping only 2018 data**

In [577]:
nhl_df2018 = nhl_df[nhl_df.year == 2018]
nhl_df2018.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL

In [578]:
nhl_df2018.shape

(35, 15)

In [579]:
sorted(nhl_df2018.team)

['Anaheim Ducks*',
 'Arizona Coyotes',
 'Atlantic Division',
 'Boston Bruins*',
 'Buffalo Sabres',
 'Calgary Flames',
 'Carolina Hurricanes',
 'Central Division',
 'Chicago Blackhawks',
 'Colorado Avalanche*',
 'Columbus Blue Jackets*',
 'Dallas Stars',
 'Detroit Red Wings',
 'Edmonton Oilers',
 'Florida Panthers',
 'Los Angeles Kings*',
 'Metropolitan Division',
 'Minnesota Wild*',
 'Montreal Canadiens',
 'Nashville Predators*',
 'New Jersey Devils*',
 'New York Islanders',
 'New York Rangers',
 'Ottawa Senators',
 'Pacific Division',
 'Philadelphia Flyers*',
 'Pittsburgh Penguins*',
 'San Jose Sharks*',
 'St. Louis Blues',
 'Tampa Bay Lightning*',
 'Toronto Maple Leafs*',
 'Vancouver Canucks',
 'Vegas Golden Knights*',
 'Washington Capitals*',
 'Winnipeg Jets*']

In [580]:
nhl_df2018['team_lastword']=nhl_df2018.team.str.strip('*').str.split(' ').str[-1]

<ipython-input-580-e1ff4a3fadc2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nhl_df2018['team_lastword']=nhl_df2018.team.str.strip('*').str.split(' ').str[-1]

In [581]:
nhl_df2018.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League,team_lastword
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL,Division
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL,Lightning
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL,Bruins
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL,Leafs
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL,Panthers

In [582]:
nhl_df2018.drop(0,inplace=True)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [583]:
nhl_df2018.team = nhl_df2018.team.str.strip('*')

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [584]:
nhl_df2018.drop([9,18,26], inplace=True)

In [585]:
nhl_df2018 = nhl_df2018[['team','W', 'L', 'team_lastword']]
nhl_df2018.head()

                  team   W   L team_lastword
1  Tampa Bay Lightning  54  23     Lightning
2        Boston Bruins  50  20        Bruins
3  Toronto Maple Leafs  49  26         Leafs
4     Florida Panthers  44  30      Panthers
5    Detroit Red Wings  30  39         Wings

In [586]:
cities.head()

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars

In [587]:
cities.shape

(51, 6)

In [588]:
cities.NHL = cities.NHL.replace("\[\w.*\]|—",'',regex=True).apply(lambda x: re.findall('[A-Z][^A-Z]*', x))

In [589]:
cities.head()

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,"[Rangers, Islanders, Devils]"
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,"[Kings, Ducks]"
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,[Sharks]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],[Blackhawks]
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,[Stars]

In [590]:
cities = cities[['NHL','Metropolitan area','Population (2016 est.)[8]']]
cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
cities.head()

                            NHL       Metropolitan area Population
0  [Rangers, Islanders, Devils]           New York City   20153634
1                [Kings, Ducks]             Los Angeles   13310447
2                      [Sharks]  San Francisco Bay Area    6657982
3                  [Blackhawks]                 Chicago    9512999
4                       [Stars]       Dallas–Fort Worth    7233323

In [591]:
cities.NHL

0     [Rangers, Islanders, Devils]
1                   [Kings, Ducks]
2                         [Sharks]
3                     [Blackhawks]
4                          [Stars]
5                       [Capitals]
6                         [Flyers]
7                         [Bruins]
8                           [Wild]
9                      [Avalanche]
10                      [Panthers]
11                       [Coyotes]
12                   [Red , Wings]
13                 [Maple , Leafs]
14                              []
15                              []
16                     [Lightning]
17                      [Penguins]
18                              []
19                              []
20                              []
21                              []
22                         [Blues]
23                              []
24                              []
25                              []
26                     [Predators]
27                              []
28                              []
29                        [Sabres]
30                     [Canadiens]
31                       [Canucks]
32                              []
33                              []
34                [Blue , Jackets]
35                        [Flames]
36                      [Senators]
37                        [Oilers]
38                              []
39                          [Jets]
40                              []
41                              []
42                              []
43              [Golden , Knights]
44                              []
45                              []
46                              []
47                    [Hurricanes]
48                              []
49                              []
50                              []
Name: NHL, dtype: object

In [592]:
cities.at[34,'NHL'] = ['Jackets']
cities.at[43,'NHL'] = ['Knights']
cities.at[12,'NHL'] = ['Wings']
cities.at[13,'NHL'] = ['Leafs']

In [593]:
cities.NHL = cities.NHL.str[0]

In [594]:
merged_NHL = pd.merge(nhl_df2018, cities, how='left', left_on='team_lastword', right_on='NHL')
merged_NHL

,team,W,L,team_lastword,NHL,Metropolitan area,Population
0,Tampa Bay Lightning,54,23,Lightning,Lightning,Tampa Bay Area,3032171
1,Boston Bruins,50,20,Bruins,Bruins,Boston,4794447
2,Toronto Maple Leafs,49,26,Leafs,Leafs,Toronto,5928040
3,Florida Panthers,44,30,Panthers,Panthers,Miami–Fort Lauderdale,6066387
4,Detroit Red Wings,30,39,Wings,Wings,Detroit,4297617
5,Montreal Canadiens,29,40,Canadiens,Canadiens,Montreal,4098927
6,Ottawa Senators,28,43,Senators,Senators,Ottawa,1323783
7,Buffalo Sabres,25,45,Sabres,Sabres,Buffalo,1132804
8,Washington Capitals,49,26,Capitals,Capitals,"Washington, D.C.",6131977
9,Pittsburgh Penguins,47,29,Penguins,Penguins,Pittsburgh,2342299
10,Philadelphia Flyers,42,26,Flyers,Flyers,Philadelphia,6070500
11,Columbus Blue Jackets,45,30,Jackets,Jackets,Columbus,2041520
12,New Jersey Devils,44,29,Devils,NaN,NaN,NaN
13,Carolina Hurricanes,36,35,Hurricanes,Hurricanes,Raleigh,1302946
14,New York Islanders,35,37,Islanders,NaN,NaN,NaN
15,New York Rangers,34,39,Rangers,Rangers,New York City,20153634
16,Nashville Predators,53,18,Predators,Predators,Nashville,1865298
17,Winnipeg Jets,52,20,Jets,Jets,Winnipeg,778489
18,Minnesota Wild,45,26,Wild,Wild,Minneapolis–Saint Paul,3551036
19,Colorado Avalanche,43,30,Avalanche,Avalanche,Denver,2853077
20,St. Louis Blues,44,32,Blues,Blues,St. Louis,2807002
21,Dallas Stars,42,32,Stars,Stars,Dallas–Fort Worth,7233323
22,Chicago Blackhawks,33,39,Blackhawks,Blackhawks,Chicago,9512999
23,Vegas Golden Knights,51,24,Knights,Knights,Las Vegas,2155664
24,Anaheim Ducks,44,25,Ducks,NaN,NaN,NaN
25,San Jose Sharks,45,27,Sharks,Sharks,San Francisco Bay Area,6657982
26,Los Angeles Kings,45,29,Kings,Kings,Los Angeles,13310447
27,Calgary Flames,37,35,Flames,Flames,Calgary,1392609
28,Edmonton Oilers,36,40,Oilers,Oilers,Edmonton,1321426
29,Vancouver Canucks,31,40,Canucks,Canucks,Vancouver,2463431
30,Arizona Coyotes,29,41,Coyotes,Coyotes,Phoenix,4661537

In [595]:
merged_NHL.at[12, ['Metropolitan area','Population']] = ['New York City', 20153634]
merged_NHL.at[14, ['Metropolitan area','Population']] = ['New York City', 20153634]
merged_NHL.at[24, ['Metropolitan area','Population']] = ['Los Angeles', 13310447]

In [596]:
merged_NHL

,team,W,L,team_lastword,NHL,Metropolitan area,Population
0,Tampa Bay Lightning,54,23,Lightning,Lightning,Tampa Bay Area,3032171
1,Boston Bruins,50,20,Bruins,Bruins,Boston,4794447
2,Toronto Maple Leafs,49,26,Leafs,Leafs,Toronto,5928040
3,Florida Panthers,44,30,Panthers,Panthers,Miami–Fort Lauderdale,6066387
4,Detroit Red Wings,30,39,Wings,Wings,Detroit,4297617
5,Montreal Canadiens,29,40,Canadiens,Canadiens,Montreal,4098927
6,Ottawa Senators,28,43,Senators,Senators,Ottawa,1323783
7,Buffalo Sabres,25,45,Sabres,Sabres,Buffalo,1132804
8,Washington Capitals,49,26,Capitals,Capitals,"Washington, D.C.",6131977
9,Pittsburgh Penguins,47,29,Penguins,Penguins,Pittsburgh,2342299
10,Philadelphia Flyers,42,26,Flyers,Flyers,Philadelphia,6070500
11,Columbus Blue Jackets,45,30,Jackets,Jackets,Columbus,2041520
12,New Jersey Devils,44,29,Devils,NaN,New York City,20153634
13,Carolina Hurricanes,36,35,Hurricanes,Hurricanes,Raleigh,1302946
14,New York Islanders,35,37,Islanders,NaN,New York City,20153634
15,New York Rangers,34,39,Rangers,Rangers,New York City,20153634
16,Nashville Predators,53,18,Predators,Predators,Nashville,1865298
17,Winnipeg Jets,52,20,Jets,Jets,Winnipeg,778489
18,Minnesota Wild,45,26,Wild,Wild,Minneapolis–Saint Paul,3551036
19,Colorado Avalanche,43,30,Avalanche,Avalanche,Denver,2853077
20,St. Louis Blues,44,32,Blues,Blues,St. Louis,2807002
21,Dallas Stars,42,32,Stars,Stars,Dallas–Fort Worth,7233323
22,Chicago Blackhawks,33,39,Blackhawks,Blackhawks,Chicago,9512999
23,Vegas Golden Knights,51,24,Knights,Knights,Las Vegas,2155664
24,Anaheim Ducks,44,25,Ducks,NaN,Los Angeles,13310447
25,San Jose Sharks,45,27,Sharks,Sharks,San Francisco Bay Area,6657982
26,Los Angeles Kings,45,29,Kings,Kings,Los Angeles,13310447
27,Calgary Flames,37,35,Flames,Flames,Calgary,1392609
28,Edmonton Oilers,36,40,Oilers,Oilers,Edmonton,1321426
29,Vancouver Canucks,31,40,Canucks,Canucks,Vancouver,2463431
30,Arizona Coyotes,29,41,Coyotes,Coyotes,Phoenix,4661537

In [597]:
merged_NHL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   team               31 non-null     object
 1   W                  31 non-null     object
 2   L                  31 non-null     object
 3   team_lastword      31 non-null     object
 4   NHL                28 non-null     object
 5   Metropolitan area  31 non-null     object
 6   Population         31 non-null     object
dtypes: object(7)
memory usage: 3.2+ KB

In [598]:
merged_NHL.Population = merged_NHL.Population.astype('int')
merged_NHL.W = merged_NHL.W.astype('int')
merged_NHL.L = merged_NHL.L.astype('int')

In [599]:
metro_group = merged_NHL.groupby('Metropolitan area').agg({'W':np.sum, 'L':np.sum, 'Population':np.mean})
metro_group

                          W    L  Population
Metropolitan area
Boston                   50   20     4794447
Buffalo                  25   45     1132804
Calgary                  37   35     1392609
Chicago                  33   39     9512999
Columbus                 45   30     2041520
Dallas–Fort Worth        42   32     7233323
Denver                   43   30     2853077
Detroit                  30   39     4297617
Edmonton                 36   40     1321426
Las Vegas                51   24     2155664
Los Angeles              89   54    13310447
Miami–Fort Lauderdale    44   30     6066387
Minneapolis–Saint Paul   45   26     3551036
Montreal                 29   40     4098927
Nashville                53   18     1865298
New York City           113  105    20153634
Ottawa                   28   43     1323783
Philadelphia             42   26     6070500
Phoenix                  29   41     4661537
Pittsburgh               47   29     2342299
Raleigh                  36   35     1302946
San Francisco Bay Area   45   27     6657982
St. Louis                44   32     2807002
Tampa Bay Area           54   23     3032171
Toronto                  49   26     5928040
Vancouver                31   40     2463431
Washington, D.C.         49   26     6131977
Winnipeg                 52   20      778489

In [600]:
metro_group['W/L Rate'] = metro_group.W / (metro_group.W + metro_group.L)
metro_group

                          W    L  Population  W/L Rate
Metropolitan area
Boston                   50   20     4794447  0.714286
Buffalo                  25   45     1132804  0.357143
Calgary                  37   35     1392609  0.513889
Chicago                  33   39     9512999  0.458333
Columbus                 45   30     2041520  0.600000
Dallas–Fort Worth        42   32     7233323  0.567568
Denver                   43   30     2853077  0.589041
Detroit                  30   39     4297617  0.434783
Edmonton                 36   40     1321426  0.473684
Las Vegas                51   24     2155664  0.680000
Los Angeles              89   54    13310447  0.622378
Miami–Fort Lauderdale    44   30     6066387  0.594595
Minneapolis–Saint Paul   45   26     3551036  0.633803
Montreal                 29   40     4098927  0.420290
Nashville                53   18     1865298  0.746479
New York City           113  105    20153634  0.518349
Ottawa                   28   43     1323783  0.394366
Philadelphia             42   26     6070500  0.617647
Phoenix                  29   41     4661537  0.414286
Pittsburgh               47   29     2342299  0.618421
Raleigh                  36   35     1302946  0.507042
San Francisco Bay Area   45   27     6657982  0.625000
St. Louis                44   32     2807002  0.578947
Tampa Bay Area           54   23     3032171  0.701299
Toronto                  49   26     5928040  0.653333
Vancouver                31   40     2463431  0.436620
Washington, D.C.         49   26     6131977  0.653333
Winnipeg                 52   20      778489  0.722222

In [601]:
metro_group['W/L Rate'].corr(metro_group.Population)

0.012308996455744277

In [602]:
len(metro_group)

28

# Question 2

#### Calculate the win/loss ratio's correlation with the population of the city it is in for the NBA using 2018 data.

In [603]:
nba_df=pd.read_csv("nba.csv")
nba_df.head()

,team,W,L,W/L%,GB,PS/G,PA/G,SRS,year,League
0,Toronto Raptors* (1),59,23,0.72,—,111.7,103.9,7.29,2018,NBA
1,Boston Celtics* (2),55,27,0.6709999999999999,4.0,104.0,100.4,3.23,2018,NBA
2,Philadelphia 76ers* (3),52,30,0.634,7.0,109.8,105.3,4.3,2018,NBA
3,Cleveland Cavaliers* (4),50,32,0.61,9.0,110.9,109.9,0.59,2018,NBA
4,Indiana Pacers* (5),48,34,0.585,11.0,105.6,104.2,1.18,2018,NBA

In [604]:
nba_df.shape

(162, 10)

In [605]:
nba_df2018 = nba_df[nba_df.year == 2018]

In [606]:
nba_df2018.shape

(30, 10)

In [607]:
nba_df2018.team

0            Toronto Raptors* (1)
1             Boston Celtics* (2)
2         Philadelphia 76ers* (3)
3        Cleveland Cavaliers* (4)
4             Indiana Pacers* (5)
5                 Miami Heat* (6)
6            Milwaukee Bucks* (7)
7         Washington Wizards* (8)
8             Detroit Pistons (9)
9          Charlotte Hornets (10)
10           New York Knicks (11)
11             Brooklyn Nets (12)
12             Chicago Bulls (13)
13             Orlando Magic (14)
14             Atlanta Hawks (15)
15           Houston Rockets* (1)
16     Golden State Warriors* (2)
17    Portland Trail Blazers* (3)
18     Oklahoma City Thunder* (4)
19                 Utah Jazz* (5)
20      New Orleans Pelicans* (6)
21         San Antonio Spurs* (7)
22    Minnesota Timberwolves* (8)
23             Denver Nuggets (9)
24      Los Angeles Clippers (10)
25        Los Angeles Lakers (11)
26          Sacramento Kings (12)
27          Dallas Mavericks (13)
28         Memphis Grizzlies (14)
29              Phoenix Suns (15)
Name: team, dtype: object

In [608]:
nba_df2018.team = nba_df2018.team.replace("\(\w.*\)|\*",'',regex=True)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [609]:
nba_df2018['team_lastword'] = nba_df2018.team.str.split(' ').str[-1]

<ipython-input-609-f1e8e7b56394>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_df2018['team_lastword'] = nba_df2018.team.str.split(' ').str[-1]

In [610]:
nba_df2018

,team,W,L,W/L%,GB,PS/G,PA/G,SRS,year,League,team_lastword
0,Toronto Raptors,59,23,0.72,—,111.7,103.9,7.29,2018,NBA,Raptors
1,Boston Celtics,55,27,0.6709999999999999,4.0,104.0,100.4,3.23,2018,NBA,Celtics
2,Philadelphia 76ers,52,30,0.634,7.0,109.8,105.3,4.3,2018,NBA,76ers
3,Cleveland Cavaliers,50,32,0.61,9.0,110.9,109.9,0.59,2018,NBA,Cavaliers
4,Indiana Pacers,48,34,0.585,11.0,105.6,104.2,1.18,2018,NBA,Pacers
5,Miami Heat,44,38,0.537,15.0,103.4,102.9,0.15,2018,NBA,Heat
6,Milwaukee Bucks,44,38,0.537,15.0,106.5,106.8,-0.45,2018,NBA,Bucks
7,Washington Wizards,43,39,0.524,16.0,106.6,106.0,0.53,2018,NBA,Wizards
8,Detroit Pistons,39,43,0.47600000000000003,20.0,103.8,103.9,-0.26,2018,NBA,Pistons
9,Charlotte Hornets,36,46,0.439,23.0,108.2,108.0,0.07,2018,NBA,Hornets
10,New York Knicks,29,53,0.354,30.0,104.5,108.0,-3.53,2018,NBA,Knicks
11,Brooklyn Nets,28,54,0.341,31.0,106.6,110.3,-3.67,2018,NBA,Nets
12,Chicago Bulls,27,55,0.32899999999999996,32.0,102.9,110.0,-6.84,2018,NBA,Bulls
13,Orlando Magic,25,57,0.305,34.0,103.4,108.2,-4.92,2018,NBA,Magic
14,Atlanta Hawks,24,58,0.293,35.0,103.4,108.8,-5.3,2018,NBA,Hawks
15,Houston Rockets,65,17,0.7929999999999999,—,112.4,103.9,8.21,2018,NBA,Rockets
16,Golden State Warriors,58,24,0.7070000000000001,7.0,113.5,107.5,5.79,2018,NBA,Warriors
17,Portland Trail Blazers,49,33,0.598,16.0,105.6,103.0,2.6,2018,NBA,Blazers
18,Oklahoma City Thunder,48,34,0.585,17.0,107.9,104.4,3.42,2018,NBA,Thunder
19,Utah Jazz,48,34,0.585,17.0,104.1,99.8,4.47,2018,NBA,Jazz
20,New Orleans Pelicans,48,34,0.585,17.0,111.7,110.4,1.48,2018,NBA,Pelicans
21,San Antonio Spurs,47,35,0.573,18.0,102.7,99.8,2.89,2018,NBA,Spurs
22,Minnesota Timberwolves,47,35,0.573,18.0,109.5,107.3,2.35,2018,NBA,Timberwolves
23,Denver Nuggets,46,36,0.561,19.0,110.0,108.5,1.57,2018,NBA,Nuggets
24,Los Angeles Clippers,42,40,0.512,23.0,109.0,109.0,0.15,2018,NBA,Clippers
25,Los Angeles Lakers,35,47,0.42700000000000005,30.0,108.1,109.6,-1.44,2018,NBA,Lakers
26,Sacramento Kings,27,55,0.32899999999999996,38.0,98.8,105.8,-6.6,2018,NBA,Kings
27,Dallas Mavericks,24,58,0.293,41.0,102.3,105.4,-2.7,2018,NBA,Mavericks
28,Memphis Grizzlies,22,60,0.268,43.0,99.3,105.5,-5.81,2018,NBA,Grizzlies
29,Phoenix Suns,21,61,0.256,44.0,103.9,113.3,-8.8,2018,NBA,Suns

In [611]:
nba_df2018 = nba_df2018[['team','W/L%', 'team_lastword']]
nba_df2018.head()

                   team                W/L% team_lastword
0      Toronto Raptors                 0.72      Raptors
1       Boston Celtics   0.6709999999999999      Celtics
2   Philadelphia 76ers                0.634        76ers
3  Cleveland Cavaliers                 0.61    Cavaliers
4       Indiana Pacers                0.585       Pacers

In [612]:
cities=pd.read_html("wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities.head()

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars

In [613]:
cities = cities[['NBA','Metropolitan area','Population (2016 est.)[8]']]
cities.rename(columns={'Population (2016 est.)[8]':'Population', 'Metropolitan area':'Metro'},inplace=True)
cities

                   NBA                   Metro Population
0           KnicksNets           New York City   20153634
1       LakersClippers             Los Angeles   13310447
2             Warriors  San Francisco Bay Area    6657982
3        Bulls[note 9]                 Chicago    9512999
4            Mavericks       Dallas–Fort Worth    7233323
5     Wizards[note 11]        Washington, D.C.    6131977
6                76ers            Philadelphia    6070500
7              Celtics                  Boston    4794447
8         Timberwolves  Minneapolis–Saint Paul    3551036
9     Nuggets[note 17]                  Denver    2853077
10                Heat   Miami–Fort Lauderdale    6066387
11                Suns                 Phoenix    4661537
12    Pistons[note 21]                 Detroit    4297617
13    Raptors[note 23]                 Toronto    5928040
14             Rockets                 Houston    6772470
15               Hawks                 Atlanta    5789700
16                   —          Tampa Bay Area    3032171
17           [note 27]              Pittsburgh    2342299
18  Cavaliers[note 31]               Cleveland    2055612
19           [note 33]                 Seattle    3798902
20           [note 36]              Cincinnati    2165139
21           [note 38]             Kansas City    2104509
22           [note 42]               St. Louis    2807002
23           [note 47]               Baltimore    2798886
24    Hornets[note 49]               Charlotte    2474314
25     Pacers[note 51]            Indianapolis    2004230
26                   —               Nashville    1865298
27               Bucks               Milwaukee    1572482
28   Pelicans[note 55]             New Orleans    1268883
29           [note 58]                 Buffalo    1132804
30                   —                Montreal    4098927
31           [note 60]               Vancouver    2463431
32               Magic                 Orlando    2441257
33       Trail Blazers                Portland    2424955
34                   —                Columbus    2041520
35                   —                 Calgary    1392609
36                   —                  Ottawa    1323783
37                   —                Edmonton    1321426
38                Jazz          Salt Lake City    1186187
39                   —                Winnipeg     778489
40           [note 63]               San Diego    3317749
41               Spurs             San Antonio    2429609
42               Kings              Sacramento    2296418
43                   —               Las Vegas    2155664
44                   —            Jacksonville    1478212
45    Thunder[note 68]           Oklahoma City    1373211
46           Grizzlies                 Memphis    1342842
47                   —                 Raleigh    1302946
48                   —               Green Bay     318236
49                   —                Hamilton     747545
50                   —                  Regina     236481

In [614]:
cities.NBA

0             KnicksNets
1         LakersClippers
2               Warriors
3          Bulls[note 9]
4              Mavericks
5       Wizards[note 11]
6                  76ers
7                Celtics
8           Timberwolves
9       Nuggets[note 17]
10                  Heat
11                  Suns
12      Pistons[note 21]
13      Raptors[note 23]
14               Rockets
15                 Hawks
16                     —
17             [note 27]
18    Cavaliers[note 31]
19             [note 33]
20             [note 36]
21             [note 38]
22             [note 42]
23             [note 47]
24      Hornets[note 49]
25       Pacers[note 51]
26                     —
27                 Bucks
28     Pelicans[note 55]
29             [note 58]
30                     —
31             [note 60]
32                 Magic
33         Trail Blazers
34                     —
35                     —
36                     —
37                     —
38                  Jazz
39                     —
40             [note 63]
41                 Spurs
42                 Kings
43                     —
44                     —
45      Thunder[note 68]
46             Grizzlies
47                     —
48                     —
49                     —
50                     —
Name: NBA, dtype: object

In [615]:
cities.NBA = cities.NBA.replace("\[\w.*\]|—",'',regex=True).apply(lambda x: re.findall('[A-Z][^A-Z]*', x))

In [616]:
cities.NBA = cities.NBA.str[0]

In [617]:
cities.NBA = cities.NBA.str.strip()

In [618]:
nba_df2018

                       team                 W/L%  team_lastword
0          Toronto Raptors                  0.72       Raptors
1           Boston Celtics    0.6709999999999999       Celtics
2       Philadelphia 76ers                 0.634         76ers
3      Cleveland Cavaliers                  0.61     Cavaliers
4           Indiana Pacers                 0.585        Pacers
5               Miami Heat                 0.537          Heat
6          Milwaukee Bucks                 0.537         Bucks
7       Washington Wizards                 0.524       Wizards
8          Detroit Pistons   0.47600000000000003       Pistons
9        Charlotte Hornets                 0.439       Hornets
10         New York Knicks                 0.354        Knicks
11           Brooklyn Nets                 0.341          Nets
12           Chicago Bulls   0.32899999999999996         Bulls
13           Orlando Magic                 0.305         Magic
14           Atlanta Hawks                 0.293         Hawks
15         Houston Rockets    0.7929999999999999       Rockets
16   Golden State Warriors    0.7070000000000001      Warriors
17  Portland Trail Blazers                 0.598       Blazers
18   Oklahoma City Thunder                 0.585       Thunder
19               Utah Jazz                 0.585          Jazz
20    New Orleans Pelicans                 0.585      Pelicans
21       San Antonio Spurs                 0.573         Spurs
22  Minnesota Timberwolves                 0.573  Timberwolves
23          Denver Nuggets                 0.561       Nuggets
24    Los Angeles Clippers                 0.512      Clippers
25      Los Angeles Lakers   0.42700000000000005        Lakers
26        Sacramento Kings   0.32899999999999996         Kings
27        Dallas Mavericks                 0.293     Mavericks
28       Memphis Grizzlies                 0.268     Grizzlies
29            Phoenix Suns                 0.256          Suns

In [619]:
cities

             NBA                   Metro Population
0         Knicks           New York City   20153634
1         Lakers             Los Angeles   13310447
2       Warriors  San Francisco Bay Area    6657982
3          Bulls                 Chicago    9512999
4      Mavericks       Dallas–Fort Worth    7233323
5        Wizards        Washington, D.C.    6131977
6            NaN            Philadelphia    6070500
7        Celtics                  Boston    4794447
8   Timberwolves  Minneapolis–Saint Paul    3551036
9        Nuggets                  Denver    2853077
10          Heat   Miami–Fort Lauderdale    6066387
11          Suns                 Phoenix    4661537
12       Pistons                 Detroit    4297617
13       Raptors                 Toronto    5928040
14       Rockets                 Houston    6772470
15         Hawks                 Atlanta    5789700
16           NaN          Tampa Bay Area    3032171
17           NaN              Pittsburgh    2342299
18     Cavaliers               Cleveland    2055612
19           NaN                 Seattle    3798902
20           NaN              Cincinnati    2165139
21           NaN             Kansas City    2104509
22           NaN               St. Louis    2807002
23           NaN               Baltimore    2798886
24       Hornets               Charlotte    2474314
25        Pacers            Indianapolis    2004230
26           NaN               Nashville    1865298
27         Bucks               Milwaukee    1572482
28      Pelicans             New Orleans    1268883
29           NaN                 Buffalo    1132804
30           NaN                Montreal    4098927
31           NaN               Vancouver    2463431
32         Magic                 Orlando    2441257
33         Trail                Portland    2424955
34           NaN                Columbus    2041520
35           NaN                 Calgary    1392609
36           NaN                  Ottawa    1323783
37           NaN                Edmonton    1321426
38          Jazz          Salt Lake City    1186187
39           NaN                Winnipeg     778489
40           NaN               San Diego    3317749
41         Spurs             San Antonio    2429609
42         Kings              Sacramento    2296418
43           NaN               Las Vegas    2155664
44           NaN            Jacksonville    1478212
45       Thunder           Oklahoma City    1373211
46     Grizzlies                 Memphis    1342842
47           NaN                 Raleigh    1302946
48           NaN               Green Bay     318236
49           NaN                Hamilton     747545
50           NaN                  Regina     236481

In [620]:
nba_df2018.team_lastword = nba_df2018.team_lastword.astype(str).str.strip()

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [621]:
cities.NBA =cities.NBA.astype(str).str.strip()

In [622]:
merged_NBA = pd.merge(nba_df2018, cities, how='left', left_on='team_lastword', right_on='NBA')
merged_NBA

,team,W/L%,team_lastword,NBA,Metro,Population
0,Toronto Raptors,0.72,Raptors,Raptors,Toronto,5928040
1,Boston Celtics,0.6709999999999999,Celtics,Celtics,Boston,4794447
2,Philadelphia 76ers,0.634,76ers,NaN,NaN,NaN
3,Cleveland Cavaliers,0.61,Cavaliers,Cavaliers,Cleveland,2055612
4,Indiana Pacers,0.585,Pacers,Pacers,Indianapolis,2004230
5,Miami Heat,0.537,Heat,Heat,Miami–Fort Lauderdale,6066387
6,Milwaukee Bucks,0.537,Bucks,Bucks,Milwaukee,1572482
7,Washington Wizards,0.524,Wizards,Wizards,"Washington, D.C.",6131977
8,Detroit Pistons,0.47600000000000003,Pistons,Pistons,Detroit,4297617
9,Charlotte Hornets,0.439,Hornets,Hornets,Charlotte,2474314
10,New York Knicks,0.354,Knicks,Knicks,New York City,20153634
11,Brooklyn Nets,0.341,Nets,NaN,NaN,NaN
12,Chicago Bulls,0.32899999999999996,Bulls,Bulls,Chicago,9512999
13,Orlando Magic,0.305,Magic,Magic,Orlando,2441257
14,Atlanta Hawks,0.293,Hawks,Hawks,Atlanta,5789700
15,Houston Rockets,0.7929999999999999,Rockets,Rockets,Houston,6772470
16,Golden State Warriors,0.7070000000000001,Warriors,Warriors,San Francisco Bay Area,6657982
17,Portland Trail Blazers,0.598,Blazers,NaN,NaN,NaN
18,Oklahoma City Thunder,0.585,Thunder,Thunder,Oklahoma City,1373211
19,Utah Jazz,0.585,Jazz,Jazz,Salt Lake City,1186187
20,New Orleans Pelicans,0.585,Pelicans,Pelicans,New Orleans,1268883
21,San Antonio Spurs,0.573,Spurs,Spurs,San Antonio,2429609
22,Minnesota Timberwolves,0.573,Timberwolves,Timberwolves,Minneapolis–Saint Paul,3551036
23,Denver Nuggets,0.561,Nuggets,Nuggets,Denver,2853077
24,Los Angeles Clippers,0.512,Clippers,NaN,NaN,NaN
25,Los Angeles Lakers,0.42700000000000005,Lakers,Lakers,Los Angeles,13310447
26,Sacramento Kings,0.32899999999999996,Kings,Kings,Sacramento,2296418
27,Dallas Mavericks,0.293,Mavericks,Mavericks,Dallas–Fort Worth,7233323
28,Memphis Grizzlies,0.268,Grizzlies,Grizzlies,Memphis,1342842
29,Phoenix Suns,0.256,Suns,Suns,Phoenix,4661537

In [623]:
merged_NBA.at[2, ['Metro','Population']] = ['Philadelphia',6070500]
merged_NBA.at[11, ['Metro','Population']] = ['New York City',20153634]
merged_NBA.at[17, ['Metro','Population']] = ['Portland',2424955]
merged_NBA.at[24, ['Metro','Population']] = ['Los Angeles',13310447]

In [624]:
merged_NBA

,team,W/L%,team_lastword,NBA,Metro,Population
0,Toronto Raptors,0.72,Raptors,Raptors,Toronto,5928040
1,Boston Celtics,0.6709999999999999,Celtics,Celtics,Boston,4794447
2,Philadelphia 76ers,0.634,76ers,NaN,Philadelphia,6070500
3,Cleveland Cavaliers,0.61,Cavaliers,Cavaliers,Cleveland,2055612
4,Indiana Pacers,0.585,Pacers,Pacers,Indianapolis,2004230
5,Miami Heat,0.537,Heat,Heat,Miami–Fort Lauderdale,6066387
6,Milwaukee Bucks,0.537,Bucks,Bucks,Milwaukee,1572482
7,Washington Wizards,0.524,Wizards,Wizards,"Washington, D.C.",6131977
8,Detroit Pistons,0.47600000000000003,Pistons,Pistons,Detroit,4297617
9,Charlotte Hornets,0.439,Hornets,Hornets,Charlotte,2474314
10,New York Knicks,0.354,Knicks,Knicks,New York City,20153634
11,Brooklyn Nets,0.341,Nets,NaN,New York City,20153634
12,Chicago Bulls,0.32899999999999996,Bulls,Bulls,Chicago,9512999
13,Orlando Magic,0.305,Magic,Magic,Orlando,2441257
14,Atlanta Hawks,0.293,Hawks,Hawks,Atlanta,5789700
15,Houston Rockets,0.7929999999999999,Rockets,Rockets,Houston,6772470
16,Golden State Warriors,0.7070000000000001,Warriors,Warriors,San Francisco Bay Area,6657982
17,Portland Trail Blazers,0.598,Blazers,NaN,Portland,2424955
18,Oklahoma City Thunder,0.585,Thunder,Thunder,Oklahoma City,1373211
19,Utah Jazz,0.585,Jazz,Jazz,Salt Lake City,1186187
20,New Orleans Pelicans,0.585,Pelicans,Pelicans,New Orleans,1268883
21,San Antonio Spurs,0.573,Spurs,Spurs,San Antonio,2429609
22,Minnesota Timberwolves,0.573,Timberwolves,Timberwolves,Minneapolis–Saint Paul,3551036
23,Denver Nuggets,0.561,Nuggets,Nuggets,Denver,2853077
24,Los Angeles Clippers,0.512,Clippers,NaN,Los Angeles,13310447
25,Los Angeles Lakers,0.42700000000000005,Lakers,Lakers,Los Angeles,13310447
26,Sacramento Kings,0.32899999999999996,Kings,Kings,Sacramento,2296418
27,Dallas Mavericks,0.293,Mavericks,Mavericks,Dallas–Fort Worth,7233323
28,Memphis Grizzlies,0.268,Grizzlies,Grizzlies,Memphis,1342842
29,Phoenix Suns,0.256,Suns,Suns,Phoenix,4661537

In [625]:
merged_NBA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team           30 non-null     object
 1   W/L%           30 non-null     object
 2   team_lastword  30 non-null     object
 3   NBA            26 non-null     object
 4   Metro          30 non-null     object
 5   Population     30 non-null     object
dtypes: object(6)
memory usage: 2.9+ KB

In [626]:
merged_NBA['W/L%'] = merged_NBA['W/L%'].astype(float)
merged_NBA.Population = merged_NBA.Population.astype(int)
merged_NBA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team           30 non-null     object
 1   W/L%           30 non-null     float64
 2   team_lastword  30 non-null     object
 3   NBA            26 non-null     object
 4   Metro          30 non-null     object
 5   Population     30 non-null     int32
dtypes: float64(1), int32(1), object(4)
memory usage: 2.8+ KB

In [627]:
NBA_group = merged_NBA.groupby('Metro').mean()
NBA_group

                          W/L%  Population
Metro
Atlanta                 0.2930     5789700
Boston                  0.6710     4794447
Charlotte               0.4390     2474314
Chicago                 0.3290     9512999
Cleveland               0.6100     2055612
Dallas–Fort Worth       0.2930     7233323
Denver                  0.5610     2853077
Detroit                 0.4760     4297617
Houston                 0.7930     6772470
Indianapolis            0.5850     2004230
Los Angeles             0.4695    13310447
Memphis                 0.2680     1342842
Miami–Fort Lauderdale   0.5370     6066387
Milwaukee               0.5370     1572482
Minneapolis–Saint Paul  0.5730     3551036
New Orleans             0.5850     1268883
New York City           0.3475    20153634
Oklahoma City           0.5850     1373211
Orlando                 0.3050     2441257
Philadelphia            0.6340     6070500
Phoenix                 0.2560     4661537
Portland                0.5980     2424955
Sacramento              0.3290     2296418
Salt Lake City          0.5850     1186187
San Antonio             0.5730     2429609
San Francisco Bay Area  0.7070     6657982
Toronto                 0.7200     5928040
Washington, D.C.        0.5240     6131977

In [628]:
NBA_group['W/L%'].corr(NBA_group.Population)

-0.1763635064218293

# Question 3

Calculate the win/loss ratio's correlation with the population of the city it is in for the MLB using 2018 data.

In [629]:
mlb_df=pd.read_csv("mlb.csv")
cities=pd.read_html("wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [630]:
mlb_df2018 = mlb_df[mlb_df.year == 2018]

In [631]:
mlb_df2018

                     team    W    L   W-L%    GB  year League
0          Boston Red Sox  108   54  0.667    --  2018    MLB
1        New York Yankees  100   62  0.617   8.0  2018    MLB
2          Tampa Bay Rays   90   72  0.556  18.0  2018    MLB
3       Toronto Blue Jays   73   89  0.451  35.0  2018    MLB
4       Baltimore Orioles   47  115  0.290  61.0  2018    MLB
5       Cleveland Indians   91   71  0.562    --  2018    MLB
6         Minnesota Twins   78   84  0.481  13.0  2018    MLB
7          Detroit Tigers   64   98  0.395  27.0  2018    MLB
8       Chicago White Sox   62  100  0.383  29.0  2018    MLB
9      Kansas City Royals   58  104  0.358  33.0  2018    MLB
10         Houston Astros  103   59  0.636    --  2018    MLB
11      Oakland Athletics   97   65  0.599   6.0  2018    MLB
12       Seattle Mariners   89   73  0.549  14.0  2018    MLB
13     Los Angeles Angels   80   82  0.494  23.0  2018    MLB
14          Texas Rangers   67   95  0.414  36.0  2018    MLB
15         Atlanta Braves   90   72  0.556    --  2018    MLB
16   Washington Nationals   82   80  0.506   8.0  2018    MLB
17  Philadelphia Phillies   80   82  0.494  10.0  2018    MLB
18          New York Mets   77   85  0.475  13.0  2018    MLB
19          Miami Marlins   63   98  0.391  26.5  2018    MLB
20      Milwaukee Brewers   96   67  0.589    --  2018    MLB
21           Chicago Cubs   95   68  0.583   1.0  2018    MLB
22    St. Louis Cardinals   88   74  0.543   7.5  2018    MLB
23     Pittsburgh Pirates   82   79  0.509  13.0  2018    MLB
24        Cincinnati Reds   67   95  0.414  28.5  2018    MLB
25    Los Angeles Dodgers   92   71  0.564    --  2018    MLB
26       Colorado Rockies   91   72  0.558   1.0  2018    MLB
27   Arizona Diamondbacks   82   80  0.506   9.5  2018    MLB
28   San Francisco Giants   73   89  0.451  18.5  2018    MLB
29       San Diego Padres   66   96  0.407  25.5  2018    MLB

In [632]:
mlb_df2018['team_lastword'] = mlb_df2018.team.str.split(' ').str[-1]
mlb_df2018 = mlb_df2018[['team','W-L%', 'team_lastword']]
mlb_df2018

<ipython-input-632-8153f0fdf47b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mlb_df2018['team_lastword'] = mlb_df2018.team.str.split(' ').str[-1]

                     team   W-L% team_lastword
0          Boston Red Sox  0.667           Sox
1        New York Yankees  0.617       Yankees
2          Tampa Bay Rays  0.556          Rays
3       Toronto Blue Jays  0.451          Jays
4       Baltimore Orioles  0.290       Orioles
5       Cleveland Indians  0.562       Indians
6         Minnesota Twins  0.481         Twins
7          Detroit Tigers  0.395        Tigers
8       Chicago White Sox  0.383           Sox
9      Kansas City Royals  0.358        Royals
10         Houston Astros  0.636        Astros
11      Oakland Athletics  0.599     Athletics
12       Seattle Mariners  0.549      Mariners
13     Los Angeles Angels  0.494        Angels
14          Texas Rangers  0.414       Rangers
15         Atlanta Braves  0.556        Braves
16   Washington Nationals  0.506     Nationals
17  Philadelphia Phillies  0.494      Phillies
18          New York Mets  0.475          Mets
19          Miami Marlins  0.391       Marlins
20      Milwaukee Brewers  0.589       Brewers
21           Chicago Cubs  0.583          Cubs
22    St. Louis Cardinals  0.543     Cardinals
23     Pittsburgh Pirates  0.509       Pirates
24        Cincinnati Reds  0.414          Reds
25    Los Angeles Dodgers  0.564       Dodgers
26       Colorado Rockies  0.558       Rockies
27   Arizona Diamondbacks  0.506  Diamondbacks
28   San Francisco Giants  0.451        Giants
29       San Diego Padres  0.407        Padres

In [633]:
cities

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals[note 10],Wizards[note 11],Capitals
6,Philadelphia,6070500,Eagles,Phillies[note 12],76ers,Flyers[note 13]
7,Boston,4794447,Patriots[note 14],Red Sox[note 15],Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild[note 16]
9,Denver,2853077,Broncos,Rockies,Nuggets[note 17],Avalanche[note 18]
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers[note 20],Pistons[note 21],Red Wings
13,Toronto,5928040,— [note 22],Blue Jays,Raptors[note 23],Maple Leafs
14,Houston,6772470,Texans[note 24],Astros,Rockets,—
15,Atlanta,5789700,Falcons,Braves,Hawks,[note 25]
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,[note 27],Penguins[note 28]
18,Cleveland,2055612,Browns[note 29],Indians[note 30],Cavaliers[note 31],[note 32]
19,Seattle,3798902,Seahawks,Mariners,[note 33],[note 34]
20,Cincinnati,2165139,Bengals,Reds[note 35],[note 36],—
21,Kansas City,2104509,Chiefs,Royals[note 37],[note 38],[note 39]
22,St. Louis,2807002,[note 40],Cardinals[note 41],[note 42],Blues[note 43]
23,Baltimore,2798886,Ravens[note 45],Orioles[note 46],[note 47],—
24,Charlotte,2474314,Panthers,—,Hornets[note 49],—
25,Indianapolis,2004230,Colts,[note 50],Pacers[note 51],—
26,Nashville,1865298,Titans,—,—,Predators
27,Milwaukee,1572482,[note 53],Brewers[note 54],Bucks,—
28,New Orleans,1268883,Saints,—,Pelicans[note 55],—
29,Buffalo,1132804,Bills[note 56],[note 57],[note 58],Sabres
30,Montreal,4098927,—,[note 59],—,Canadiens
31,Vancouver,2463431,—,—,[note 60],Canucks
32,Orlando,2441257,—,—,Magic,—
33,Portland,2424955,—,—,Trail Blazers,—
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
38,Salt Lake City,1186187,—,—,Jazz,—
39,Winnipeg,778489,—,—,—,Jets[note 61]
40,San Diego,3317749,[note 62],Padres,[note 63],—
41,San Antonio,2429609,[note 64],—,Spurs,—
42,Sacramento,2296418,—,—,Kings,—
43,Las Vegas,2155664,[note 6],—,—,Golden Knights
44,Jacksonville,1478212,Jaguars,—,—,—
45,Oklahoma City,1373211,—,—,Thunder[note 68],—
46,Memphis,1342842,[note 69],—,Grizzlies,—
47,Raleigh,1302946,—,—,—,Hurricanes
48,Green Bay,318236,Packers,—,—,—
49,Hamilton,747545,—,—,—,[note 71]
50,Regina,236481,—,—,—,—

In [634]:
cities = cities[['MLB','Metropolitan area','Population (2016 est.)[8]']]
cities.rename(columns={'Population (2016 est.)[8]':'Population', 'Metropolitan area':'Metro'},inplace=True)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [635]:
cities.MLB

0     YankeesMets[note 2]
1           DodgersAngels
2         GiantsAthletics
3           CubsWhite Sox
4                 Rangers
5      Nationals[note 10]
6       Phillies[note 12]
7        Red Sox[note 15]
8                   Twins
9                 Rockies
10                Marlins
11           Diamondbacks
12        Tigers[note 20]
13              Blue Jays
14                 Astros
15                 Braves
16                   Rays
17                Pirates
18       Indians[note 30]
19               Mariners
20          Reds[note 35]
21        Royals[note 37]
22     Cardinals[note 41]
23       Orioles[note 46]
24                      —
25              [note 50]
26                      —
27       Brewers[note 54]
28                      —
29              [note 57]
30              [note 59]
31                      —
32                      —
33                      —
34                      —
35                      —
36                      —
37                      —
38                      —
39                      —
40                 Padres
41                      —
42                      —
43                      —
44                      —
45                      —
46                      —
47                      —
48                      —
49                      —
50                      —
Name: MLB, dtype: object

In [636]:
cities.MLB = cities.MLB.replace("\[\w.*\]|—",'',regex=True).apply(lambda x: re.findall('[A-Z][^A-Z]*', x))

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [637]:
cities.MLB = cities.MLB.str[0]
cities.MLB = cities.MLB.str.strip()
mlb_df2018.team_lastword = mlb_df2018.team_lastword.astype(str).str.strip()
cities.MLB =cities.MLB.astype(str).str.strip()

In [638]:
merged_MLB = pd.merge(mlb_df2018, cities, how='left', left_on='team_lastword', right_on='MLB')
merged_MLB

,team,W-L%,team_lastword,MLB,Metro,Population
0,Boston Red Sox,0.667,Sox,NaN,NaN,NaN
1,New York Yankees,0.617,Yankees,Yankees,New York City,20153634
2,Tampa Bay Rays,0.556,Rays,Rays,Tampa Bay Area,3032171
3,Toronto Blue Jays,0.451,Jays,NaN,NaN,NaN
4,Baltimore Orioles,0.290,Orioles,Orioles,Baltimore,2798886
5,Cleveland Indians,0.562,Indians,Indians,Cleveland,2055612
6,Minnesota Twins,0.481,Twins,Twins,Minneapolis–Saint Paul,3551036
7,Detroit Tigers,0.395,Tigers,Tigers,Detroit,4297617
8,Chicago White Sox,0.383,Sox,NaN,NaN,NaN
9,Kansas City Royals,0.358,Royals,Royals,Kansas City,2104509
10,Houston Astros,0.636,Astros,Astros,Houston,6772470
11,Oakland Athletics,0.599,Athletics,NaN,NaN,NaN
12,Seattle Mariners,0.549,Mariners,Mariners,Seattle,3798902
13,Los Angeles Angels,0.494,Angels,NaN,NaN,NaN
14,Texas Rangers,0.414,Rangers,Rangers,Dallas–Fort Worth,7233323
15,Atlanta Braves,0.556,Braves,Braves,Atlanta,5789700
16,Washington Nationals,0.506,Nationals,Nationals,"Washington, D.C.",6131977
17,Philadelphia Phillies,0.494,Phillies,Phillies,Philadelphia,6070500
18,New York Mets,0.475,Mets,NaN,NaN,NaN
19,Miami Marlins,0.391,Marlins,Marlins,Miami–Fort Lauderdale,6066387
20,Milwaukee Brewers,0.589,Brewers,Brewers,Milwaukee,1572482
21,Chicago Cubs,0.583,Cubs,Cubs,Chicago,9512999
22,St. Louis Cardinals,0.543,Cardinals,Cardinals,St. Louis,2807002
23,Pittsburgh Pirates,0.509,Pirates,Pirates,Pittsburgh,2342299
24,Cincinnati Reds,0.414,Reds,Reds,Cincinnati,2165139
25,Los Angeles Dodgers,0.564,Dodgers,Dodgers,Los Angeles,13310447
26,Colorado Rockies,0.558,Rockies,Rockies,Denver,2853077
27,Arizona Diamondbacks,0.506,Diamondbacks,Diamondbacks,Phoenix,4661537
28,San Francisco Giants,0.451,Giants,Giants,San Francisco Bay Area,6657982
29,San Diego Padres,0.407,Padres,Padres,San Diego,3317749

In [639]:
merged_MLB.at[0, ['Metro','Population']] = ['Boston', 4794447]
merged_MLB.at[3, ['Metro','Population']] = ['Toronto', 5928040]
merged_MLB.at[8, ['Metro','Population']] = ['Chicago',9512999]
merged_MLB.at[11, ['Metro','Population']] = ['San Francisco Bay Area', 6657982]
merged_MLB.at[13, ['Metro','Population']] = ['Los Angeles',13310447]
merged_MLB.at[18, ['Metro','Population']] = ['New York City',20153634]

In [640]:
merged_MLB['W-L%'] = merged_MLB['W-L%'].astype(float)
merged_MLB.Population = merged_MLB.Population.astype(int)
merged_MLB = merged_MLB.groupby('Metro').mean()
merged_MLB

                         W-L%  Population
Metro
Atlanta                 0.556     5789700
Baltimore               0.290     2798886
Boston                  0.667     4794447
Chicago                 0.483     9512999
Cincinnati              0.414     2165139
Cleveland               0.562     2055612
Dallas–Fort Worth       0.414     7233323
Denver                  0.558     2853077
Detroit                 0.395     4297617
Houston                 0.636     6772470
Kansas City             0.358     2104509
Los Angeles             0.529    13310447
Miami–Fort Lauderdale   0.391     6066387
Milwaukee               0.589     1572482
Minneapolis–Saint Paul  0.481     3551036
New York City           0.546    20153634
Philadelphia            0.494     6070500
Phoenix                 0.506     4661537
Pittsburgh              0.509     2342299
San Diego               0.407     3317749
San Francisco Bay Area  0.525     6657982
Seattle                 0.549     3798902
St. Louis               0.543     2807002
Tampa Bay Area          0.556     3032171
Toronto                 0.451     5928040
Washington, D.C.        0.506     6131977

In [641]:
merged_MLB['W-L%'].corr(merged_MLB.Population)

0.15003737475409504

# Question 4

Calculate the win/loss ratio's correlation with the population of the city it is in for the NFL using 2018 data.

In [642]:
nfl_df=pd.read_csv("nfl.csv")
cities=pd.read_html("wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [643]:
nfl_df2018 = nfl_df[nfl_df.year == 2018]
nfl_df2018.team = nfl_df2018.team.replace('\*|\+','',regex=True)
nfl_df2018['team_lastword'] = nfl_df2018.team.str.split(' ').str[-1]
nfl_df2018 = nfl_df2018[['team','W-L%', 'team_lastword']]
nfl_df2018.team_lastword = nfl_df2018.team_lastword.astype(str).str.strip()
nfl_df2018.drop([0,5,10,15,20,25,30,35],inplace=True)
nfl_df2018

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-643-6ade75487221>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_df2018['team_lastword'] = nfl_df2018.team.str.split(' ').str[-1]

                    team  W-L% team_lastword
1   New England Patriots  .688      Patriots
2         Miami Dolphins  .438      Dolphins
3          Buffalo Bills  .375         Bills
4          New York Jets  .250          Jets
6       Baltimore Ravens  .625        Ravens
7    Pittsburgh Steelers  .594      Steelers
8       Cleveland Browns  .469        Browns
9     Cincinnati Bengals  .375       Bengals
11        Houston Texans  .688        Texans
12    Indianapolis Colts  .625         Colts
13      Tennessee Titans  .563        Titans
14  Jacksonville Jaguars  .313       Jaguars
16    Kansas City Chiefs  .750        Chiefs
17  Los Angeles Chargers  .750      Chargers
18        Denver Broncos  .375       Broncos
19       Oakland Raiders  .250       Raiders
21        Dallas Cowboys  .625       Cowboys
22   Philadelphia Eagles  .563        Eagles
23   Washington Redskins  .438      Redskins
24       New York Giants  .313        Giants
26         Chicago Bears  .750         Bears
27     Minnesota Vikings  .531       Vikings
28     Green Bay Packers  .406       Packers
29         Detroit Lions  .375         Lions
31    New Orleans Saints  .813        Saints
32     Carolina Panthers  .438      Panthers
33       Atlanta Falcons  .438       Falcons
34  Tampa Bay Buccaneers  .313    Buccaneers
36      Los Angeles Rams  .813          Rams
37      Seattle Seahawks  .625      Seahawks
38   San Francisco 49ers  .250         49ers
39     Arizona Cardinals  .188     Cardinals

In [644]:
cities

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals[note 10],Wizards[note 11],Capitals
6,Philadelphia,6070500,Eagles,Phillies[note 12],76ers,Flyers[note 13]
7,Boston,4794447,Patriots[note 14],Red Sox[note 15],Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild[note 16]
9,Denver,2853077,Broncos,Rockies,Nuggets[note 17],Avalanche[note 18]
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers[note 20],Pistons[note 21],Red Wings
13,Toronto,5928040,— [note 22],Blue Jays,Raptors[note 23],Maple Leafs
14,Houston,6772470,Texans[note 24],Astros,Rockets,—
15,Atlanta,5789700,Falcons,Braves,Hawks,[note 25]
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,[note 27],Penguins[note 28]
18,Cleveland,2055612,Browns[note 29],Indians[note 30],Cavaliers[note 31],[note 32]
19,Seattle,3798902,Seahawks,Mariners,[note 33],[note 34]
20,Cincinnati,2165139,Bengals,Reds[note 35],[note 36],—
21,Kansas City,2104509,Chiefs,Royals[note 37],[note 38],[note 39]
22,St. Louis,2807002,[note 40],Cardinals[note 41],[note 42],Blues[note 43]
23,Baltimore,2798886,Ravens[note 45],Orioles[note 46],[note 47],—
24,Charlotte,2474314,Panthers,—,Hornets[note 49],—
25,Indianapolis,2004230,Colts,[note 50],Pacers[note 51],—
26,Nashville,1865298,Titans,—,—,Predators
27,Milwaukee,1572482,[note 53],Brewers[note 54],Bucks,—
28,New Orleans,1268883,Saints,—,Pelicans[note 55],—
29,Buffalo,1132804,Bills[note 56],[note 57],[note 58],Sabres
30,Montreal,4098927,—,[note 59],—,Canadiens
31,Vancouver,2463431,—,—,[note 60],Canucks
32,Orlando,2441257,—,—,Magic,—
33,Portland,2424955,—,—,Trail Blazers,—
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
38,Salt Lake City,1186187,—,—,Jazz,—
39,Winnipeg,778489,—,—,—,Jets[note 61]
40,San Diego,3317749,[note 62],Padres,[note 63],—
41,San Antonio,2429609,[note 64],—,Spurs,—
42,Sacramento,2296418,—,—,Kings,—
43,Las Vegas,2155664,[note 6],—,—,Golden Knights
44,Jacksonville,1478212,Jaguars,—,—,—
45,Oklahoma City,1373211,—,—,Thunder[note 68],—
46,Memphis,1342842,[note 69],—,Grizzlies,—
47,Raleigh,1302946,—,—,—,Hurricanes
48,Green Bay,318236,Packers,—,—,—
49,Hamilton,747545,—,—,—,[note 71]
50,Regina,236481,—,—,—,—

In [645]:
cities = cities[['NFL','Metropolitan area','Population (2016 est.)[8]']]
cities.rename(columns={'Population (2016 est.)[8]':'Population', 'Metropolitan area':'Metro'},inplace=True)
cities.NFL = cities.NFL.replace("\[\w.*\]|—",'',regex=True).apply(lambda x: re.findall('[A-Z][^A-Z]*', x))
cities.NFL = cities.NFL.str[0]
cities.NFL = cities.NFL.str.strip()
cities.NFL =cities.NFL.astype(str).str.strip()
cities

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\admin\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

           NFL                   Metro Population
0       Giants           New York City   20153634
1         Rams             Los Angeles   13310447
2      Raiders  San Francisco Bay Area    6657982
3        Bears                 Chicago    9512999
4      Cowboys       Dallas–Fort Worth    7233323
5     Redskins        Washington, D.C.    6131977
6       Eagles            Philadelphia    6070500
7     Patriots                  Boston    4794447
8      Vikings  Minneapolis–Saint Paul    3551036
9      Broncos                  Denver    2853077
10    Dolphins   Miami–Fort Lauderdale    6066387
11   Cardinals                 Phoenix    4661537
12       Lions                 Detroit    4297617
13         nan                 Toronto    5928040
14      Texans                 Houston    6772470
15     Falcons                 Atlanta    5789700
16  Buccaneers          Tampa Bay Area    3032171
17    Steelers              Pittsburgh    2342299
18      Browns               Cleveland    2055612
19    Seahawks                 Seattle    3798902
20     Bengals              Cincinnati    2165139
21      Chiefs             Kansas City    2104509
22         nan               St. Louis    2807002
23      Ravens               Baltimore    2798886
24    Panthers               Charlotte    2474314
25       Colts            Indianapolis    2004230
26      Titans               Nashville    1865298
27         nan               Milwaukee    1572482
28      Saints             New Orleans    1268883
29       Bills                 Buffalo    1132804
30         nan                Montreal    4098927
31         nan               Vancouver    2463431
32         nan                 Orlando    2441257
33         nan                Portland    2424955
34         nan                Columbus    2041520
35         nan                 Calgary    1392609
36         nan                  Ottawa    1323783
37         nan                Edmonton    1321426
38         nan          Salt Lake City    1186187
39         nan                Winnipeg     778489
40         nan               San Diego    3317749
41         nan             San Antonio    2429609
42         nan              Sacramento    2296418
43         nan               Las Vegas    2155664
44     Jaguars            Jacksonville    1478212
45         nan           Oklahoma City    1373211
46         nan                 Memphis    1342842
47         nan                 Raleigh    1302946
48     Packers               Green Bay     318236
49         nan                Hamilton     747545
50         nan                  Regina     236481

In [646]:
merged_NFL = pd.merge(nfl_df2018, cities, how='left', left_on='team_lastword', right_on='NFL')
merged_NFL

,team,W-L%,team_lastword,NFL,Metro,Population
0,New England Patriots,.688,Patriots,Patriots,Boston,4794447
1,Miami Dolphins,.438,Dolphins,Dolphins,Miami–Fort Lauderdale,6066387
2,Buffalo Bills,.375,Bills,Bills,Buffalo,1132804
3,New York Jets,.250,Jets,NaN,NaN,NaN
4,Baltimore Ravens,.625,Ravens,Ravens,Baltimore,2798886
5,Pittsburgh Steelers,.594,Steelers,Steelers,Pittsburgh,2342299
6,Cleveland Browns,.469,Browns,Browns,Cleveland,2055612
7,Cincinnati Bengals,.375,Bengals,Bengals,Cincinnati,2165139
8,Houston Texans,.688,Texans,Texans,Houston,6772470
9,Indianapolis Colts,.625,Colts,Colts,Indianapolis,2004230
10,Tennessee Titans,.563,Titans,Titans,Nashville,1865298
11,Jacksonville Jaguars,.313,Jaguars,Jaguars,Jacksonville,1478212
12,Kansas City Chiefs,.750,Chiefs,Chiefs,Kansas City,2104509
13,Los Angeles Chargers,.750,Chargers,NaN,NaN,NaN
14,Denver Broncos,.375,Broncos,Broncos,Denver,2853077
15,Oakland Raiders,.250,Raiders,Raiders,San Francisco Bay Area,6657982
16,Dallas Cowboys,.625,Cowboys,Cowboys,Dallas–Fort Worth,7233323
17,Philadelphia Eagles,.563,Eagles,Eagles,Philadelphia,6070500
18,Washington Redskins,.438,Redskins,Redskins,"Washington, D.C.",6131977
19,New York Giants,.313,Giants,Giants,New York City,20153634
20,Chicago Bears,.750,Bears,Bears,Chicago,9512999
21,Minnesota Vikings,.531,Vikings,Vikings,Minneapolis–Saint Paul,3551036
22,Green Bay Packers,.406,Packers,Packers,Green Bay,318236
23,Detroit Lions,.375,Lions,Lions,Detroit,4297617
24,New Orleans Saints,.813,Saints,Saints,New Orleans,1268883
25,Carolina Panthers,.438,Panthers,Panthers,Charlotte,2474314
26,Atlanta Falcons,.438,Falcons,Falcons,Atlanta,5789700
27,Tampa Bay Buccaneers,.313,Buccaneers,Buccaneers,Tampa Bay Area,3032171
28,Los Angeles Rams,.813,Rams,Rams,Los Angeles,13310447
29,Seattle Seahawks,.625,Seahawks,Seahawks,Seattle,3798902
30,San Francisco 49ers,.250,49ers,NaN,NaN,NaN
31,Arizona Cardinals,.188,Cardinals,Cardinals,Phoenix,4661537

In [647]:
merged_NFL.at[3, ['Metro','Population']] = ['New York City',20153634]
merged_NFL.at[13, ['Metro','Population']] = ['Los Angeles',13310447]
merged_NFL.at[30, ['Metro','Population']] = ['San Francisco Bay Area', 6657982]
merged_NFL['W-L%'] = merged_NFL['W-L%'].astype(float)
merged_NFL.Population = merged_NFL.Population.astype(int)
merged_NFL = merged_NFL.groupby('Metro').mean()
merged_NFL

                          W-L%  Population
Metro
Atlanta                 0.4380     5789700
Baltimore               0.6250     2798886
Boston                  0.6880     4794447
Buffalo                 0.3750     1132804
Charlotte               0.4380     2474314
Chicago                 0.7500     9512999
Cincinnati              0.3750     2165139
Cleveland               0.4690     2055612
Dallas–Fort Worth       0.6250     7233323
Denver                  0.3750     2853077
Detroit                 0.3750     4297617
Green Bay               0.4060      318236
Houston                 0.6880     6772470
Indianapolis            0.6250     2004230
Jacksonville            0.3130     1478212
Kansas City             0.7500     2104509
Los Angeles             0.7815    13310447
Miami–Fort Lauderdale   0.4380     6066387
Minneapolis–Saint Paul  0.5310     3551036
Nashville               0.5630     1865298
New Orleans             0.8130     1268883
New York City           0.2815    20153634
Philadelphia            0.5630     6070500
Phoenix                 0.1880     4661537
Pittsburgh              0.5940     2342299
San Francisco Bay Area  0.2500     6657982
Seattle                 0.6250     3798902
Tampa Bay Area          0.3130     3032171
Washington, D.C.        0.4380     6131977

In [648]:
merged_NFL['W-L%'].corr(merged_NFL.Population)

0.004282141436393036

# Question 5

In [649]:
merged_NFL.rename(columns={'W-L%':'NFL'},inplace=True)
metro_group.rename(columns={'W/L Rate':'NHL'},inplace=True)
NBA_group.rename(columns={'W/L%':'NBA'},inplace=True)
merged_MLB.rename(columns={'W-L%':'MLB'},inplace=True)

In [650]:
merged_all = pd.merge(merged_NFL['NFL'], metro_group['NHL'], how='outer',left_index=True, right_index=True)
merged_all = pd.merge(merged_all, NBA_group['NBA'], how='outer',left_index=True, right_index=True)
merged_all = pd.merge(merged_all, merged_MLB['MLB'], how='outer',left_index=True, right_index=True)
merged_all

                           NFL       NHL     NBA    MLB
Atlanta                 0.4380       NaN  0.2930  0.556
Baltimore               0.6250       NaN     NaN  0.290
Boston                  0.6880  0.714286  0.6710  0.667
Buffalo                 0.3750  0.357143     NaN    NaN
Calgary                    NaN  0.513889     NaN    NaN
Charlotte               0.4380       NaN  0.4390    NaN
Chicago                 0.7500  0.458333  0.3290  0.483
Cincinnati              0.3750       NaN     NaN  0.414
Cleveland               0.4690       NaN  0.6100  0.562
Columbus                   NaN  0.600000     NaN    NaN
Dallas–Fort Worth       0.6250  0.567568  0.2930  0.414
Denver                  0.3750  0.589041  0.5610  0.558
Detroit                 0.3750  0.434783  0.4760  0.395
Edmonton                   NaN  0.473684     NaN    NaN
Green Bay               0.4060       NaN     NaN    NaN
Houston                 0.6880       NaN  0.7930  0.636
Indianapolis            0.6250       NaN  0.5850    NaN
Jacksonville            0.3130       NaN     NaN    NaN
Kansas City             0.7500       NaN     NaN  0.358
Las Vegas                  NaN  0.680000     NaN    NaN
Los Angeles             0.7815  0.622378  0.4695  0.529
Memphis                    NaN       NaN  0.2680    NaN
Miami–Fort Lauderdale   0.4380  0.594595  0.5370  0.391
Milwaukee                  NaN       NaN  0.5370  0.589
Minneapolis–Saint Paul  0.5310  0.633803  0.5730  0.481
Montreal                   NaN  0.420290     NaN    NaN
Nashville               0.5630  0.746479     NaN    NaN
New Orleans             0.8130       NaN  0.5850    NaN
New York City           0.2815  0.518349  0.3475  0.546
Oklahoma City              NaN       NaN  0.5850    NaN
Orlando                    NaN       NaN  0.3050    NaN
Ottawa                     NaN  0.394366     NaN    NaN
Philadelphia            0.5630  0.617647  0.6340  0.494
Phoenix                 0.1880  0.414286  0.2560  0.506
Pittsburgh              0.5940  0.618421     NaN  0.509
Portland                   NaN       NaN  0.5980    NaN
Raleigh                    NaN  0.507042     NaN    NaN
Sacramento                 NaN       NaN  0.3290    NaN
Salt Lake City             NaN       NaN  0.5850    NaN
San Antonio                NaN       NaN  0.5730    NaN
San Diego                  NaN       NaN     NaN  0.407
San Francisco Bay Area  0.2500  0.625000  0.7070  0.525
Seattle                 0.6250       NaN     NaN  0.549
St. Louis                  NaN  0.578947     NaN  0.543
Tampa Bay Area          0.3130  0.701299     NaN  0.556
Toronto                    NaN  0.653333  0.7200  0.451
Vancouver                  NaN  0.436620     NaN    NaN
Washington, D.C.        0.4380  0.653333  0.5240  0.506
Winnipeg                   NaN  0.722222     NaN    NaN

In [651]:
merged_all[['MLB','NHL']].dropna()

                          MLB       NHL
Boston                  0.667  0.714286
Chicago                 0.483  0.458333
Dallas–Fort Worth       0.414  0.567568
Denver                  0.558  0.589041
Detroit                 0.395  0.434783
Los Angeles             0.529  0.622378
Miami–Fort Lauderdale   0.391  0.594595
Minneapolis–Saint Paul  0.481  0.633803
New York City           0.546  0.518349
Philadelphia            0.494  0.617647
Phoenix                 0.506  0.414286
Pittsburgh              0.509  0.618421
San Francisco Bay Area  0.525  0.625000
St. Louis               0.543  0.578947
Tampa Bay Area          0.556  0.701299
Toronto                 0.451  0.653333
Washington, D.C.        0.506  0.653333

In [663]:
stats.ttest_rel(merged_all['NHL'].dropna(), merged_all['NHL'].dropna())

Ttest_relResult(statistic=nan, pvalue=nan)

In [458]:
stats.ttest_rel(merged_all[['WL_NHL','WL_MLB']].dropna()['WL_NHL'], merged_all[['WL_NHL','WL_MLB']].dropna()['WL_MLB'])[0]

0.2520416209674996

In [655]:
plist = [['NFL', 'NBA'],
['NFL' , 'NHL'],
['NFL' , 'MLB'],
['NBA' , 'NHL'],
['NBA' , 'MLB'],
['NHL' , 'MLB']]

In [656]:
for i in plist:
    print(i,stats.ttest_rel(merged_all[i].dropna()[i[0]], merged_all[i].dropna()[i[1]])[1])

['NFL', 'NBA'] 0.9375088282360181
['NFL', 'NHL'] 0.030391975468575805
['NFL', 'MLB'] 0.8034592132146956
['NBA', 'NHL'] 0.022404597472499618
['NBA', 'MLB'] 0.9495657419262777
['NHL', 'MLB'] 0.0007033745889305859

In [653]:
sports = ['NFL', 'NBA', 'NHL', 'MLB']
p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)

In [659]:
for i in plist:
    p_values.loc[i[0],i[1]] = p_values.loc[i[1],i[0]] = stats.ttest_rel(merged_all[i].dropna()[i[0]], merged_all[i].dropna()[i[1]])[1]

In [664]:
p_values

          NFL       NBA       NHL       MLB
NFL       NaN  0.937509  0.030392  0.803459
NBA  0.937509       NaN  0.022405  0.949566
NHL  0.030392  0.022405       NaN  0.000703
MLB  0.803459  0.949566  0.000703       NaN