# Week 4 Assignment

In [197]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

In [198]:
nhl_df=pd.read_csv("nhl.csv")
cities=pd.read_html("wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [199]:
nhl_df.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL

In [200]:
nhl_df.shape

(171, 15)

In [201]:
nhl_df.year.value_counts()

2017    68
2018    35
2015    34
2014    34
Name: year, dtype: int64

**Keeping only 2018 data**

In [202]:
nhl_df2018 = nhl_df[nhl_df.year == 2018]
nhl_df2018.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL

In [203]:
nhl_df2018.shape

(35, 15)

In [204]:
sorted(nhl_df2018.team)

['Anaheim Ducks*',
 'Arizona Coyotes',
 'Atlantic Division',
 'Boston Bruins*',
 'Buffalo Sabres',
 'Calgary Flames',
 'Carolina Hurricanes',
 'Central Division',
 'Chicago Blackhawks',
 'Colorado Avalanche*',
 'Columbus Blue Jackets*',
 'Dallas Stars',
 'Detroit Red Wings',
 'Edmonton Oilers',
 'Florida Panthers',
 'Los Angeles Kings*',
 'Metropolitan Division',
 'Minnesota Wild*',
 'Montreal Canadiens',
 'Nashville Predators*',
 'New Jersey Devils*',
 'New York Islanders',
 'New York Rangers',
 'Ottawa Senators',
 'Pacific Division',
 'Philadelphia Flyers*',
 'Pittsburgh Penguins*',
 'San Jose Sharks*',
 'St. Louis Blues',
 'Tampa Bay Lightning*',
 'Toronto Maple Leafs*',
 'Vancouver Canucks',
 'Vegas Golden Knights*',
 'Washington Capitals*',
 'Winnipeg Jets*']

In [205]:
nhl_df2018['team_lastword']=nhl_df2018.team.str.strip('*').str.split(' ').str[-1]

<ipython-input-205-e1ff4a3fadc2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nhl_df2018['team_lastword']=nhl_df2018.team.str.strip('*').str.split(' ').str[-1]

In [206]:
nhl_df2018.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League,team_lastword
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL,Division
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL,Lightning
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL,Bruins
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL,Leafs
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL,Panthers

In [207]:
nhl_df2018.drop(0,inplace=True)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [208]:
nhl_df2018.team = nhl_df2018.team.str.strip('*')

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [209]:
nhl_df2018.drop([9,18,26], inplace=True)

In [210]:
nhl_df2018 = nhl_df2018[['team','W', 'L', 'team_lastword']]
nhl_df2018.head()

                  team   W   L team_lastword
1  Tampa Bay Lightning  54  23     Lightning
2        Boston Bruins  50  20        Bruins
3  Toronto Maple Leafs  49  26         Leafs
4     Florida Panthers  44  30      Panthers
5    Detroit Red Wings  30  39         Wings

In [211]:
cities.head()

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars

In [212]:
cities.shape

(51, 6)

In [213]:
cities.NHL = cities.NHL.replace("\[\w.*\]|—",'',regex=True).apply(lambda x: re.findall('[A-Z][^A-Z]*', x))

In [214]:
cities.head()

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,"[Rangers, Islanders, Devils]"
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,"[Kings, Ducks]"
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,[Sharks]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],[Blackhawks]
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,[Stars]

In [215]:
cities = cities[['NHL','Metropolitan area','Population (2016 est.)[8]']]
cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
cities.head()

                            NHL       Metropolitan area Population
0  [Rangers, Islanders, Devils]           New York City   20153634
1                [Kings, Ducks]             Los Angeles   13310447
2                      [Sharks]  San Francisco Bay Area    6657982
3                  [Blackhawks]                 Chicago    9512999
4                       [Stars]       Dallas–Fort Worth    7233323

In [216]:
cities.NHL

0     [Rangers, Islanders, Devils]
1                   [Kings, Ducks]
2                         [Sharks]
3                     [Blackhawks]
4                          [Stars]
5                       [Capitals]
6                         [Flyers]
7                         [Bruins]
8                           [Wild]
9                      [Avalanche]
10                      [Panthers]
11                       [Coyotes]
12                   [Red , Wings]
13                 [Maple , Leafs]
14                              []
15                              []
16                     [Lightning]
17                      [Penguins]
18                              []
19                              []
20                              []
21                              []
22                         [Blues]
23                              []
24                              []
25                              []
26                     [Predators]
27                              []
28                              []
29                        [Sabres]
30                     [Canadiens]
31                       [Canucks]
32                              []
33                              []
34                [Blue , Jackets]
35                        [Flames]
36                      [Senators]
37                        [Oilers]
38                              []
39                          [Jets]
40                              []
41                              []
42                              []
43              [Golden , Knights]
44                              []
45                              []
46                              []
47                    [Hurricanes]
48                              []
49                              []
50                              []
Name: NHL, dtype: object

In [217]:
cities.at[34,'NHL'] = ['Jackets']

In [218]:
cities.at[43,'NHL'] = ['Knights']

In [219]:
cities.at[12,'NHL'] = ['Wings']

In [220]:
cities.at[13,'NHL'] = ['Leafs']

In [221]:
cities.NHL = cities.NHL.str[0]

In [222]:
merged_NHL = pd.merge(nhl_df2018, cities, how='left', left_on='team_lastword', right_on='NHL')
merged_NHL

,team,W,L,team_lastword,NHL,Metropolitan area,Population
0,Tampa Bay Lightning,54,23,Lightning,Lightning,Tampa Bay Area,3032171
1,Boston Bruins,50,20,Bruins,Bruins,Boston,4794447
2,Toronto Maple Leafs,49,26,Leafs,Leafs,Toronto,5928040
3,Florida Panthers,44,30,Panthers,Panthers,Miami–Fort Lauderdale,6066387
4,Detroit Red Wings,30,39,Wings,Wings,Detroit,4297617
5,Montreal Canadiens,29,40,Canadiens,Canadiens,Montreal,4098927
6,Ottawa Senators,28,43,Senators,Senators,Ottawa,1323783
7,Buffalo Sabres,25,45,Sabres,Sabres,Buffalo,1132804
8,Washington Capitals,49,26,Capitals,Capitals,"Washington, D.C.",6131977
9,Pittsburgh Penguins,47,29,Penguins,Penguins,Pittsburgh,2342299
10,Philadelphia Flyers,42,26,Flyers,Flyers,Philadelphia,6070500
11,Columbus Blue Jackets,45,30,Jackets,Jackets,Columbus,2041520
12,New Jersey Devils,44,29,Devils,NaN,NaN,NaN
13,Carolina Hurricanes,36,35,Hurricanes,Hurricanes,Raleigh,1302946
14,New York Islanders,35,37,Islanders,NaN,NaN,NaN
15,New York Rangers,34,39,Rangers,Rangers,New York City,20153634
16,Nashville Predators,53,18,Predators,Predators,Nashville,1865298
17,Winnipeg Jets,52,20,Jets,Jets,Winnipeg,778489
18,Minnesota Wild,45,26,Wild,Wild,Minneapolis–Saint Paul,3551036
19,Colorado Avalanche,43,30,Avalanche,Avalanche,Denver,2853077
20,St. Louis Blues,44,32,Blues,Blues,St. Louis,2807002
21,Dallas Stars,42,32,Stars,Stars,Dallas–Fort Worth,7233323
22,Chicago Blackhawks,33,39,Blackhawks,Blackhawks,Chicago,9512999
23,Vegas Golden Knights,51,24,Knights,Knights,Las Vegas,2155664
24,Anaheim Ducks,44,25,Ducks,NaN,NaN,NaN
25,San Jose Sharks,45,27,Sharks,Sharks,San Francisco Bay Area,6657982
26,Los Angeles Kings,45,29,Kings,Kings,Los Angeles,13310447
27,Calgary Flames,37,35,Flames,Flames,Calgary,1392609
28,Edmonton Oilers,36,40,Oilers,Oilers,Edmonton,1321426
29,Vancouver Canucks,31,40,Canucks,Canucks,Vancouver,2463431
30,Arizona Coyotes,29,41,Coyotes,Coyotes,Phoenix,4661537

In [223]:
merged_NHL.at[12, ['Metropolitan area','Population']] = ['New York City', 20153634]
merged_NHL.at[14, ['Metropolitan area','Population']] = ['New York City', 20153634]
merged_NHL.at[24, ['Metropolitan area','Population']] = ['Los Angeles', 13310447]

In [224]:
merged_NHL

,team,W,L,team_lastword,NHL,Metropolitan area,Population
0,Tampa Bay Lightning,54,23,Lightning,Lightning,Tampa Bay Area,3032171
1,Boston Bruins,50,20,Bruins,Bruins,Boston,4794447
2,Toronto Maple Leafs,49,26,Leafs,Leafs,Toronto,5928040
3,Florida Panthers,44,30,Panthers,Panthers,Miami–Fort Lauderdale,6066387
4,Detroit Red Wings,30,39,Wings,Wings,Detroit,4297617
5,Montreal Canadiens,29,40,Canadiens,Canadiens,Montreal,4098927
6,Ottawa Senators,28,43,Senators,Senators,Ottawa,1323783
7,Buffalo Sabres,25,45,Sabres,Sabres,Buffalo,1132804
8,Washington Capitals,49,26,Capitals,Capitals,"Washington, D.C.",6131977
9,Pittsburgh Penguins,47,29,Penguins,Penguins,Pittsburgh,2342299
10,Philadelphia Flyers,42,26,Flyers,Flyers,Philadelphia,6070500
11,Columbus Blue Jackets,45,30,Jackets,Jackets,Columbus,2041520
12,New Jersey Devils,44,29,Devils,NaN,New York City,20153634
13,Carolina Hurricanes,36,35,Hurricanes,Hurricanes,Raleigh,1302946
14,New York Islanders,35,37,Islanders,NaN,New York City,20153634
15,New York Rangers,34,39,Rangers,Rangers,New York City,20153634
16,Nashville Predators,53,18,Predators,Predators,Nashville,1865298
17,Winnipeg Jets,52,20,Jets,Jets,Winnipeg,778489
18,Minnesota Wild,45,26,Wild,Wild,Minneapolis–Saint Paul,3551036
19,Colorado Avalanche,43,30,Avalanche,Avalanche,Denver,2853077
20,St. Louis Blues,44,32,Blues,Blues,St. Louis,2807002
21,Dallas Stars,42,32,Stars,Stars,Dallas–Fort Worth,7233323
22,Chicago Blackhawks,33,39,Blackhawks,Blackhawks,Chicago,9512999
23,Vegas Golden Knights,51,24,Knights,Knights,Las Vegas,2155664
24,Anaheim Ducks,44,25,Ducks,NaN,Los Angeles,13310447
25,San Jose Sharks,45,27,Sharks,Sharks,San Francisco Bay Area,6657982
26,Los Angeles Kings,45,29,Kings,Kings,Los Angeles,13310447
27,Calgary Flames,37,35,Flames,Flames,Calgary,1392609
28,Edmonton Oilers,36,40,Oilers,Oilers,Edmonton,1321426
29,Vancouver Canucks,31,40,Canucks,Canucks,Vancouver,2463431
30,Arizona Coyotes,29,41,Coyotes,Coyotes,Phoenix,4661537

In [225]:
merged_NHL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   team               31 non-null     object
 1   W                  31 non-null     object
 2   L                  31 non-null     object
 3   team_lastword      31 non-null     object
 4   NHL                28 non-null     object
 5   Metropolitan area  31 non-null     object
 6   Population         31 non-null     object
dtypes: object(7)
memory usage: 3.2+ KB

In [226]:
merged_NHL.Population = merged_NHL.Population.astype('int')
merged_NHL.W = merged_NHL.W.astype('int')
merged_NHL.L = merged_NHL.L.astype('int')

In [227]:
metro_group = merged_NHL.groupby('Metropolitan area').agg({'W':np.sum, 'L':np.sum, 'Population':np.mean})
metro_group

                          W    L  Population
Metropolitan area
Boston                   50   20     4794447
Buffalo                  25   45     1132804
Calgary                  37   35     1392609
Chicago                  33   39     9512999
Columbus                 45   30     2041520
Dallas–Fort Worth        42   32     7233323
Denver                   43   30     2853077
Detroit                  30   39     4297617
Edmonton                 36   40     1321426
Las Vegas                51   24     2155664
Los Angeles              89   54    13310447
Miami–Fort Lauderdale    44   30     6066387
Minneapolis–Saint Paul   45   26     3551036
Montreal                 29   40     4098927
Nashville                53   18     1865298
New York City           113  105    20153634
Ottawa                   28   43     1323783
Philadelphia             42   26     6070500
Phoenix                  29   41     4661537
Pittsburgh               47   29     2342299
Raleigh                  36   35     1302946
San Francisco Bay Area   45   27     6657982
St. Louis                44   32     2807002
Tampa Bay Area           54   23     3032171
Toronto                  49   26     5928040
Vancouver                31   40     2463431
Washington, D.C.         49   26     6131977
Winnipeg                 52   20      778489

In [228]:
metro_group['W/L Rate'] = metro_group.W / (metro_group.W + metro_group.L)
metro_group

                          W    L  Population  W/L Rate
Metropolitan area
Boston                   50   20     4794447  0.714286
Buffalo                  25   45     1132804  0.357143
Calgary                  37   35     1392609  0.513889
Chicago                  33   39     9512999  0.458333
Columbus                 45   30     2041520  0.600000
Dallas–Fort Worth        42   32     7233323  0.567568
Denver                   43   30     2853077  0.589041
Detroit                  30   39     4297617  0.434783
Edmonton                 36   40     1321426  0.473684
Las Vegas                51   24     2155664  0.680000
Los Angeles              89   54    13310447  0.622378
Miami–Fort Lauderdale    44   30     6066387  0.594595
Minneapolis–Saint Paul   45   26     3551036  0.633803
Montreal                 29   40     4098927  0.420290
Nashville                53   18     1865298  0.746479
New York City           113  105    20153634  0.518349
Ottawa                   28   43     1323783  0.394366
Philadelphia             42   26     6070500  0.617647
Phoenix                  29   41     4661537  0.414286
Pittsburgh               47   29     2342299  0.618421
Raleigh                  36   35     1302946  0.507042
San Francisco Bay Area   45   27     6657982  0.625000
St. Louis                44   32     2807002  0.578947
Tampa Bay Area           54   23     3032171  0.701299
Toronto                  49   26     5928040  0.653333
Vancouver                31   40     2463431  0.436620
Washington, D.C.         49   26     6131977  0.653333
Winnipeg                 52   20      778489  0.722222

In [229]:
metro_group['W/L Rate'].corr(metro_group.Population)

0.012308996455744277

In [230]:
len(metro_group)

28