# Basic Statistical Testing

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [3]:
df.shape

(2315, 13)

In [6]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [10]:
early_finishers.shape

(1259, 13)

In [7]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [8]:
late_finishers.shape

(1056, 13)

In [11]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [12]:
from scipy.stats import ttest_ind
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.18618101101714551)

p value > 0.05 means we can't reject the null hypothesis.  
The two values are more or less same

In [13]:
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In this data we don't have enough evidence to suggest the populations differ with respect to grade.

For example, for assignment 3, has a p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been considered statistically significant.

In [38]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.279357,0.205393,0.484014,0.592319,0.335373,0.581047,0.542868,0.399818,0.668057,0.325216,...,0.522841,0.916860,0.627772,0.944481,0.100644,0.175382,0.195005,0.757777,0.671665,0.027318
1,0.310416,0.049158,0.389488,0.983091,0.023154,0.317498,0.142431,0.302909,0.823972,0.918292,...,0.759885,0.446645,0.107410,0.479511,0.047806,0.052937,0.984971,0.948578,0.476733,0.672206
2,0.264343,0.276112,0.934804,0.390882,0.705271,0.156282,0.165541,0.372954,0.297634,0.553156,...,0.548844,0.762023,0.791863,0.692536,0.863504,0.976553,0.233856,0.679050,0.823505,0.294495
3,0.023185,0.614521,0.356924,0.811578,0.085093,0.468698,0.000176,0.856944,0.249119,0.064192,...,0.903653,0.049095,0.333117,0.896856,0.097571,0.043870,0.595274,0.751072,0.302520,0.546317
4,0.040340,0.114681,0.647076,0.989313,0.626447,0.705456,0.358810,0.816221,0.321079,0.117315,...,0.538966,0.769190,0.008738,0.400968,0.614103,0.096267,0.113336,0.482802,0.714226,0.460359

In [39]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.010256,0.617237,0.339640,0.985815,0.893692,0.756964,0.414092,0.451906,0.754411,0.560926,...,0.049950,0.319177,0.972136,0.929199,0.360850,0.998072,0.830764,0.583654,0.874508,0.773244
1,0.227484,0.594979,0.925912,0.464461,0.336175,0.208856,0.130839,0.622920,0.734119,0.141852,...,0.934908,0.936824,0.449603,0.781812,0.106355,0.515557,0.703099,0.353733,0.994630,0.018200
2,0.621986,0.900427,0.731554,0.037917,0.373878,0.744354,0.586340,0.972345,0.565400,0.381241,...,0.079418,0.759284,0.261514,0.135146,0.771232,0.120106,0.159160,0.826022,0.004582,0.817092
3,0.276576,0.466926,0.683165,0.485992,0.282850,0.110540,0.873950,0.530093,0.286444,0.837232,...,0.155616,0.077655,0.767941,0.094150,0.529449,0.592588,0.039845,0.973509,0.055440,0.533271
4,0.363758,0.113053,0.233412,0.020998,0.856615,0.255233,0.842616,0.710917,0.063242,0.478503,...,0.480200,0.094484,0.355906,0.657343,0.278262,0.086602,0.003204,0.483970,0.104622,0.715026

Let's assign critical value 0.1, or alpha 10%

In [40]:
def test_columns(alpha=0.1):
    num_diff = 0
    for col in df1.columns:
        teststat, pval = ttest_ind(df1[col], df2[col])
        if pval <= alpha:
            print('Col {} is statistically significantly different at alpha={}, pval={}'.format(col, alpha, pval))
            num_diff += 1
    print('Total number different was {}, which is {}%'.format(num_diff, float(num_diff)/len(df1.columns)*100))

In [41]:
test_columns(0.1)

Col 21 is statistically significantly different at alpha=0.1, pval=0.05301571266522078
Col 29 is statistically significantly different at alpha=0.1, pval=0.08208412509258363
Col 31 is statistically significantly different at alpha=0.1, pval=0.09681041476590341
Col 32 is statistically significantly different at alpha=0.1, pval=0.05603175270798616
Col 35 is statistically significantly different at alpha=0.1, pval=0.02293502063443704
Col 45 is statistically significantly different at alpha=0.1, pval=0.07106629902846491
Col 48 is statistically significantly different at alpha=0.1, pval=0.06071678376986027
Col 59 is statistically significantly different at alpha=0.1, pval=0.034400102859513046
Col 64 is statistically significantly different at alpha=0.1, pval=0.005634756817987647
Col 67 is statistically significantly different at alpha=0.1, pval=0.0923901259545156
Col 83 is statistically significantly different at alpha=0.1, pval=0.0901517282156491
Col 94 is statistically significantly different at alpha=0.1, pval=0.06501341329515942
Col 95 is statistically significantly different at alpha=0.1, pval=0.0025628211739714894
Col 98 is statistically significantly different at alpha=0.1, pval=0.09936875254471043
Total number different was 14, which is 14.000000000000002%

In [42]:
test_columns(0.05)

Col 35 is statistically significantly different at alpha=0.05, pval=0.02293502063443704
Col 59 is statistically significantly different at alpha=0.05, pval=0.034400102859513046
Col 64 is statistically significantly different at alpha=0.05, pval=0.005634756817987647
Col 95 is statistically significantly different at alpha=0.05, pval=0.0025628211739714894
Total number different was 4, which is 4.0%

In [43]:
df2 = pd.DataFrame([np.random.chisquare(df=1, size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=3.064614255828415e-05
Col 1 is statistically significantly different at alpha=0.1, pval=0.004994787626922517
Col 2 is statistically significantly different at alpha=0.1, pval=0.0004262695552593834
Col 3 is statistically significantly different at alpha=0.1, pval=9.326482076129827e-05
Col 4 is statistically significantly different at alpha=0.1, pval=0.0003045131676673084
Col 5 is statistically significantly different at alpha=0.1, pval=0.00010086668413415981
Col 6 is statistically significantly different at alpha=0.1, pval=6.743466562750698e-05
Col 7 is statistically significantly different at alpha=0.1, pval=0.00015520601337522225
Col 8 is statistically significantly different at alpha=0.1, pval=0.0001260640155846951
Col 9 is statistically significantly different at alpha=0.1, pval=5.543385126555806e-05
Col 10 is statistically significantly different at alpha=0.1, pval=0.00013341544522275096
Col 11 is statistically significantly different at alpha=0.1, pval=0.0014874090734808437
Col 12 is statistically significantly different at alpha=0.1, pval=0.0016746457981220981
Col 13 is statistically significantly different at alpha=0.1, pval=0.030094161324009314
Col 14 is statistically significantly different at alpha=0.1, pval=3.671906710018338e-06
Col 15 is statistically significantly different at alpha=0.1, pval=0.0007105744811914253
Col 16 is statistically significantly different at alpha=0.1, pval=0.00045912422294345107
Col 17 is statistically significantly different at alpha=0.1, pval=0.0001767778742350041
Col 18 is statistically significantly different at alpha=0.1, pval=3.011180556713309e-05
Col 19 is statistically significantly different at alpha=0.1, pval=0.0002846007091124722
Col 20 is statistically significantly different at alpha=0.1, pval=0.0008072281189229656
Col 21 is statistically significantly different at alpha=0.1, pval=0.005144303028242422
Col 22 is statistically significantly different at alpha=0.1, pval=0.028056271574227
Col 23 is statistically significantly different at alpha=0.1, pval=0.019969278425989286
Col 24 is statistically significantly different at alpha=0.1, pval=0.00010646766091965003
Col 25 is statistically significantly different at alpha=0.1, pval=8.418767970505278e-05
Col 26 is statistically significantly different at alpha=0.1, pval=8.704880503175196e-05
Col 27 is statistically significantly different at alpha=0.1, pval=2.358727063936677e-06
Col 28 is statistically significantly different at alpha=0.1, pval=0.0012294881541121928
Col 29 is statistically significantly different at alpha=0.1, pval=4.9325350588685625e-05
Col 30 is statistically significantly different at alpha=0.1, pval=2.925099444775946e-05
Col 31 is statistically significantly different at alpha=0.1, pval=0.0001913939243517163
Col 32 is statistically significantly different at alpha=0.1, pval=0.0011534570655189662
Col 33 is statistically significantly different at alpha=0.1, pval=0.0007339150152183216
Col 34 is statistically significantly different at alpha=0.1, pval=2.4334103805871655e-05
Col 35 is statistically significantly different at alpha=0.1, pval=0.030135755076399727
Col 36 is statistically significantly different at alpha=0.1, pval=3.342469875384978e-05
Col 37 is statistically significantly different at alpha=0.1, pval=0.0016761518926911366
Col 38 is statistically significantly different at alpha=0.1, pval=0.011758817597084536
Col 39 is statistically significantly different at alpha=0.1, pval=0.0003135821513879044
Col 40 is statistically significantly different at alpha=0.1, pval=9.232916405608943e-06
Col 41 is statistically significantly different at alpha=0.1, pval=3.7811323784261156e-05
Col 42 is statistically significantly different at alpha=0.1, pval=3.6546310157935066e-05
Col 43 is statistically significantly different at alpha=0.1, pval=0.00011913449267362609
Col 44 is statistically significantly different at alpha=0.1, pval=0.011252906363947272
Col 45 is statistically significantly different at alpha=0.1, pval=0.00020841212008707838
Col 46 is statistically significantly different at alpha=0.1, pval=3.855894492676804e-05
Col 47 is statistically significantly different at alpha=0.1, pval=0.010204204192337153
Col 48 is statistically significantly different at alpha=0.1, pval=0.0027591192500319535
Col 49 is statistically significantly different at alpha=0.1, pval=1.8173645103087404e-05
Col 50 is statistically significantly different at alpha=0.1, pval=0.027145780323689157
Col 51 is statistically significantly different at alpha=0.1, pval=4.809577309785913e-05
Col 52 is statistically significantly different at alpha=0.1, pval=0.0003535543509142554
Col 53 is statistically significantly different at alpha=0.1, pval=6.860829009271376e-05
Col 54 is statistically significantly different at alpha=0.1, pval=0.0002437219134639775
Col 55 is statistically significantly different at alpha=0.1, pval=0.0008068178045046817
Col 56 is statistically significantly different at alpha=0.1, pval=0.01458033344948611
Col 57 is statistically significantly different at alpha=0.1, pval=0.01546235256781702
Col 58 is statistically significantly different at alpha=0.1, pval=0.019034742952274742
Col 59 is statistically significantly different at alpha=0.1, pval=0.00471350738421839
Col 60 is statistically significantly different at alpha=0.1, pval=0.0007976677235276193
Col 61 is statistically significantly different at alpha=0.1, pval=1.2358200471937957e-06
Col 62 is statistically significantly different at alpha=0.1, pval=0.0029603979867697684
Col 63 is statistically significantly different at alpha=0.1, pval=1.2794679808488241e-05
Col 64 is statistically significantly different at alpha=0.1, pval=0.002512162041802232
Col 65 is statistically significantly different at alpha=0.1, pval=0.0002932851041025232
Col 66 is statistically significantly different at alpha=0.1, pval=4.2168587710852664e-06
Col 67 is statistically significantly different at alpha=0.1, pval=0.0009160916159298213
Col 68 is statistically significantly different at alpha=0.1, pval=0.00014379134457832743
Col 69 is statistically significantly different at alpha=0.1, pval=0.0006679873539704992
Col 70 is statistically significantly different at alpha=0.1, pval=0.0002683226258121237
Col 71 is statistically significantly different at alpha=0.1, pval=0.0009253580153408461
Col 72 is statistically significantly different at alpha=0.1, pval=0.00022495370085492882
Col 73 is statistically significantly different at alpha=0.1, pval=1.1481088307876022e-05
Col 74 is statistically significantly different at alpha=0.1, pval=2.237148962235596e-05
Col 75 is statistically significantly different at alpha=0.1, pval=4.694328660633319e-05
Col 76 is statistically significantly different at alpha=0.1, pval=0.0012360121046470704
Col 77 is statistically significantly different at alpha=0.1, pval=1.3921135076504243e-05
Col 78 is statistically significantly different at alpha=0.1, pval=0.0007383522671892239
Col 79 is statistically significantly different at alpha=0.1, pval=6.0022583270522886e-05
Col 80 is statistically significantly different at alpha=0.1, pval=0.00019087094211537906
Col 81 is statistically significantly different at alpha=0.1, pval=0.0003475757073462461
Col 82 is statistically significantly different at alpha=0.1, pval=0.0011055290652710193
Col 83 is statistically significantly different at alpha=0.1, pval=9.653767644211807e-05
Col 84 is statistically significantly different at alpha=0.1, pval=0.00013038569576878504
Col 85 is statistically significantly different at alpha=0.1, pval=0.0002766336055846366
Col 86 is statistically significantly different at alpha=0.1, pval=0.0019724410842482006
Col 87 is statistically significantly different at alpha=0.1, pval=0.0007795809398301958
Col 88 is statistically significantly different at alpha=0.1, pval=0.0008684890241097062
Col 89 is statistically significantly different at alpha=0.1, pval=0.011868749729585458
Col 90 is statistically significantly different at alpha=0.1, pval=0.0003617162928460278
Col 91 is statistically significantly different at alpha=0.1, pval=0.0010070669691522596
Col 92 is statistically significantly different at alpha=0.1, pval=0.002438138234588738
Col 93 is statistically significantly different at alpha=0.1, pval=0.00023523092413341124
Col 94 is statistically significantly different at alpha=0.1, pval=0.001317159349646896
Col 95 is statistically significantly different at alpha=0.1, pval=6.21331686391885e-05
Col 96 is statistically significantly different at alpha=0.1, pval=0.007996966023900796
Col 97 is statistically significantly different at alpha=0.1, pval=0.0004423981294811241
Col 98 is statistically significantly different at alpha=0.1, pval=0.000118869960539983
Col 99 is statistically significantly different at alpha=0.1, pval=0.00047375303753804894
Total number different was 100, which is 100.0%